name: CI-CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  test-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest

      - name: Run unit tests
        env:
          PYTHONPATH: .
        run: pytest

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Pull Docker Image
        run: docker pull indrakshi/cats-dogs-api:latest

      - name: Run Container
        run: |
          docker run -d -p 8000:8000 --name test-api \
            indrakshi/cats-dogs-api:latest

      - name: Wait for app to start
        run: sleep 20

      - name: Smoke Test - Health Endpoint
        run: curl --fail http://localhost:8000/health